.bg-bchmnd {
  background-color: blanchedalmond;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.pd-1 {
  padding: 1px;
}

.pd-2 {
  padding: 2px;
}

.pd-3 {
  padding: 3px;
}

.pd-4 {
  padding: 4px;
}

.pd-5 {
  padding: 5px;
}

.pd-6 {
  padding: 6px;
}

.pd-7 {
  padding: 7px;
}

.pd-8 {
  padding: 8px;
}

.pd-9 {
  padding: 9px;
}

.pd-10 {
  padding: 10px;
}

.pd-11 {
  padding: 11px;
}

.pd-12 {
  padding: 12px;
}

.pd-13 {
  padding: 13px;
}

.pd-14 {
  padding: 14px;
}

.pd-15 {
  padding: 15px;
}

.gp-1 {
  gap: 1px;
}

.gp-2 {
  gap: 2px;
}

.gp-3 {
  gap: 3px;
}

.gp-4 {
  gap: 4px;
}

.gp-5 {
  gap: 5px;
}

.gp-6 {
  gap: 6px;
}

.gp-7 {
  gap: 7px;
}

.gp-8 {
  gap: 8px;
}

.gp-9 {
  gap: 9px;
}

.gp-10 {
  gap: 10px;
}

.gp-11 {
  gap: 11px;
}

.gp-12 {
  gap: 12px;
}

.gp-13 {
  gap: 13px;
}

.gp-14 {
  gap: 14px;
}

.gp-15 {
  gap: 15px;
}

nav {
  background-color: blanchedalmond;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
  margin: 10px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
  height: 80px;
  top: 0%;
  z-index: 999;
  border-bottom: 1px solid black;
}

.nav-list {
  list-style: none;
  display: flex;
  padding: 15px;
  margin-right: 10px;
  gap: 10px;
  align-items: center;
}

.nav-link {
  display: flex;
  text-decoration: none;
  color: blueviolet;
  font-size: 24px;
  font-weight: semi-bold;
  gap: 10px;
  align-items: center;
}

.nav-logo {
  padding-top: 0;
  padding-bottom: 0;
  margin-right: 0px;
  font-size: 20px;
  color: black;
  text-decoration: none;
  white-space: nowrap;
}

footer p {
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
  color: black;
}

body {
  background-color: blanchedalmond;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../assets/images/bodygym2.avif);
  background-size: cover;
  height: 600px;
}
.hero article {
  width: 60%;
}
.hero h1 {
  font-weight: bold;
}

.box2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-weight: bold;
  position: relative;
  border-radius: 15px;
  border: 1px solid white;
}
.box2 div {
  z-index: 3;
  border-radius: 14px;
  background-color: black;
  color: white;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: end start;
  opacity: 0.5;
}
.box2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(3px);
  position: absolute;
  border-radius: 6px;
  box-shadow: 2px 2px 5px 2px rgba(255, 235, 205, 0.233);
  border: 1px solid white;
}

.b1 {
  grid-area: a1;
}

.b2 {
  grid-area: a2;
}

.b3 {
  grid-area: a3;
}

.b4 {
  grid-area: a4;
}

.b5 {
  grid-area: a5;
}

.b6 {
  grid-area: a6;
}

.grid2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: end center;
  grid-template-areas: "a3 a3 a1 a1" "a2 a2 a1 a1" "a5 a5 a5 a5";
}

.box2:hover img {
  filter: blur(0);
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.box2:hover img:hover {
  background-color: cadetblue;
  box-shadow: 3px 3px 13px 5px rgba(20, 20, 73, 0.603);
}
.box2:hover img:nth-child(even) {
  flex-direction: row-reverse;
  background-color: bisque;
}

.row {
  margin: 0;
  justify-content: space-around;
}

.btn-primary {
  background-color: blanchedalmond;
  border-radius: 0;
  color: #111;
  font-size: 24px;
  border: none;
}

.btn-primary:hover, .btn-primary:focus, .btn:active {
  border: 2px solid blanchedalmond;
  color: burlywood;
  background-color: transparent;
}

.card {
  border-radius: 0;
  padding: 0;
  width: 400px;
  margin: 10px 0;
}

.card-img-top {
  border-radius: 0;
}

.carousel-inner, .carousel-item {
  height: 600px;
}

.carousel-item img {
  width: 50%;
  height: 100%;
  object-fit: cover;
}

.box__boxeo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-weight: bold;
  position: relative;
  border-radius: 15px;
  border: 1px solid white;
}
.box__boxeo div {
  z-index: 3;
  border-radius: 14px;
  background-color: black;
  color: white;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: end start;
  opacity: 0.5;
}
.box__boxeo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(3px);
  position: absolute;
  border-radius: 6px;
  box-shadow: 2px 2px 5px 2px rgba(255, 235, 205, 0.233);
  border: 1px solid white;
}
.box__boxeo:hover img {
  filter: blur(0);
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.box__boxeo:hover {
  background-color: cadetblue;
  box-shadow: 3px 3px 13px 5px rgba(20, 20, 73, 0.603);
}
.box__boxeo:nth-child(even) {
  flex-direction: row-reverse;
  background-color: bisque;
}

.c1 {
  grid-area: a1;
}

.c2 {
  grid-area: a2;
}

.c3 {
  grid-area: a3;
}

.c4 {
  grid-area: a4;
}

.c5 {
  grid-area: a5;
}

.c6 {
  grid-area: a6;
}

.grid__boxeo {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 300px);
  place-items: end center;
  grid-template-areas: "a3 a3 a6 a6" "a3 a3 a4 a2" "a5 a5 a1 a1";
}

.ct1 {
  grid-area: c1;
}

.ct2 {
  grid-area: c2;
}

.ct3 {
  grid-area: c3;
}

.grid__contacto {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: end center;
  grid-template-areas: "c3 c3 c1 c1" "c2 c2 c1 c1" "c5 c5 c5 c5";
}

.box__contacto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-weight: bold;
  position: relative;
  border-radius: 15px;
  border: 1px solid white;
}
.box__contacto div {
  z-index: 3;
  border-radius: 14px;
  background-color: black;
  color: white;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: end start;
  opacity: 0.5;
}
.box__contacto img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(3px);
  position: absolute;
  border-radius: 6px;
  box-shadow: 2px 2px 5px 2px rgba(255, 235, 205, 0.233);
  border: 1px solid white;
}
.box__contacto:hover img {
  filter: blur(0);
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.box__contacto:hover {
  background-color: cadetblue;
  box-shadow: 3px 3px 13px 5px rgba(20, 20, 73, 0.603);
}
.box__contacto:nth-child(even) {
  flex-direction: row-reverse;
  background-color: bisque;
}

.hero__crossfit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../assets/images/crossfit4.avif);
  background-size: cover;
  height: 500px;
}
.hero__crossfit article {
  width: 60%;
}
.hero__crossfit h1 {
  font-weight: bold;
}

.hero__container__crossfit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box__crossfit {
  width: 100%;
  background-color: rgb(179, 160, 160);
  border: 2px solid white;
  display: flex;
  transition: 0.5s;
}
.box__crossfit:hover img {
  filter: blur(0);
  width: 400px;
  height: 500px;
  object-fit: cover;
}
.box__crossfit:hover {
  background-color: cadetblue;
  box-shadow: 3px 3px 13px 5px rgba(20, 20, 73, 0.603);
}
.box__crossfit:nth-child(even) {
  flex-direction: row-reverse;
  background-color: bisque;
}
.box__crossfit:nth-child(even):hover {
  background-color: blanchedalmond;
}

.box__img__crossfit {
  width: 50%;
  height: 300px;
  object-fit: cover;
  overflow: hidden;
}
.box__img__crossfit img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(5px);
  transition: 0.5s;
}

.box__content__crossfit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.box__crossfit2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-weight: bold;
  position: relative;
  border-radius: 15px;
  border: 1px solid white;
}
.box__crossfit2 div {
  z-index: 3;
  border-radius: 14px;
  background-color: black;
  color: white;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: end start;
  opacity: 0.5;
}
.box__crossfit2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(3px);
  position: absolute;
  border-radius: 6px;
  box-shadow: 2px 2px 5px 2px rgba(255, 235, 205, 0.233);
  border: 1px solid white;
}
.box__crossfit2:hover img {
  filter: blur(0);
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.box__crossfit2:hover {
  background-color: cadetblue;
  box-shadow: 3px 3px 13px 5px rgba(20, 20, 73, 0.603);
}
.box__crossfit2:nth-child(even) {
  flex-direction: row-reverse;
  background-color: bisque;
}

.b1 {
  grid-area: a1;
}

.b2 {
  grid-area: a2;
}

.b3 {
  grid-area: a3;
}

.grid__crossfit {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: end center;
  grid-template-areas: "a1 a1 a2 a2" "a3 a3 a2 a2" "a5 a5 a5 a5";
}

.hero__container__spinning {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box__spinning {
  width: 90%;
  background-color: rgb(179, 160, 160);
  padding: 15px;
  border: 2px solid white;
  display: flex;
  transition: 0.5s;
}
.box__spinning:hover img {
  filter: blur(0);
  width: 400px;
  height: 500px;
  object-fit: cover;
}
.box__spinning:hover {
  background-color: cadetblue;
  box-shadow: 3px 3px 13px 5px rgba(20, 20, 73, 0.603);
}
.box__spinning:nth-child(even) {
  flex-direction: row-reverse;
  background-color: bisque;
}
.box__spinning:nth-child(even):hover {
  background-color: blanchedalmond;
}

.box__img__spinning {
  width: 50%;
  height: 300px;
  object-fit: cover;
  overflow: hidden;
}
.box__img__spinning img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(5px);
  transition: 0.5s;
}

.box__content__spinning {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

@media (max-width: 300px) {
  .hero article {
    width: 100%;
  }
  .hero__crossfit article {
    width: 100%;
  }
  .grid__boxeo {
    display: inherit;
  }
  .grid__contacto {
    display: inherit;
  }
  .card {
    width: 80%;
  }
  .grid__crossfit {
    display: inherit;
  }
  .box__crossfit {
    width: 105%;
  }
}
@media (max-width: 480px) {
  .hero article {
    width: 100%;
  }
  .hero__crossfit article {
    width: 100%;
  }
  .card {
    width: 90%;
  }
  .grid__boxeo {
    display: inherit;
  }
  .grid__crossfit {
    display: inherit;
  }
  .grid__contacto {
    display: inherit;
  }
  .box__spinning {
    width: 105%;
  }
}
@media (max-width: 600px) {
  .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    grid-auto-rows: minmax(300px, auto);
    grid-auto-flow: dense;
  }
  .grid__boxeo {
    display: flex;
    flex-direction: column;
  }
  .grid__crossfit {
    display: inherit;
  }
}
@media (min-width: 600px) {
  .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    grid-auto-rows: minmax(300px, auto);
    grid-auto-flow: dense;
  }
  .grid__boxeo {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .grid__crossfit {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
@media (min-width: 768px) {
  nav,
  .hero {
    flex-direction: row;
    justify-content: space-between;
  }
  .hero img,
  .hero-content {
    width: 50%;
  }
  .nav-list {
    flex-direction: row;
  }
  .grid__boxeo {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .grid__crossfit {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
@media (min-width: 1024px) {
  .form {
    flex-direction: row-reverse;
  }
  form {
    width: 50%;
  }
  .form iframe {
    width: 50%;
    min-height: 600px;
    max-height: 100%;
  }
  .grid__boxeo {
    display: grid;
  }
  .grid__crossfit {
    display: grid;
  }
}
.form {
  display: flex;
  flex-direction: row;
  background-color: blanchedalmond;
  width: 100%;
  padding: 50px 20px;
  gap: 20px;
}

.form {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  gap: 15px;
  grid-area: form;
  height: 100%;
  width: 100%;
}

.form iframe {
  width: 50%;
  height: 250px;
}

.form label {
  font-size: 20px;
  align-self: flex-end;
}

.form input,
.form textarea {
  width: 100%;
  padding: 15px;
  font-size: 20px;
  background-color: rgb(250, 200, 125);
  border: 2px solid blanchedalmond;
  color: blanchedalmond;
}

/*# sourceMappingURL=style.css.map */
